doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='/markitup/skins/simple/style.css')
    link(rel='stylesheet', type='text/css', href='/markitup/sets/markdown/style.css')

    script(type='text/javascript', src='http://code.jquery.com/jquery-1.8.0.min.js')
    script(type='text/javascript', src='/markitup/jquery.markitup.js')
    script(type='text/javascript', src='/markitup/sets/markdown/set.js')
  body
    block content
