extends layout
block content
  p(style="display:inline" id='edit').
    Edit

  p(style="display:inline" id='add').
    Add

  textarea(id='input', style='display:inline', rows=1)

  p(style="display:inline" id='ok').
    Ok
    
  p(id='cancel', style='display:inline').
    Cancel

  p(id='delete', style='display:inline').
    Delete

  div(id='content')
    != md.toHTML(markdown)

  textarea(id='markItUp', style='display:none').
    #{plaintext}

  script(type='text/javascript').

      $("#ok").hide();
      $("#cancel").hide();
      $("#input").hide();
 
      $("#edit").click(function(){
      $("#markItUp").show();
      $("#markItUp").markItUp(mySettings);
  
      $("#content").hide();
      $("#add").hide();
  
      $("#cancel").show();
      $("#edit").hide();
      $("#delete").hide();

      });

      $("#cancel").click(function(){
      $("#markItUp").markItUpRemove();
      $("#markItUp").hide();
  
      $("#content").show();
  
      $("#edit").show();
      $("#cancel").hide();
      $("#add").show();
      $("#delete").show();

      });

      $("#add").click(function(){
      $("#input").show();
      $("#ok").show();
      $("#edit").hide();
      $("#add").hide();
      });

      $("#ok").click(function(){
      var text = $('#input').val();
      $.post("/graildiary/add.html", {url:text}, function(response) {
      if(response === "OK") {
      window.location.reload();	 
      }
      }
      );
      });

      $("#delete").click(function(){
      $.post("/graildiary/remove.html", {url:window.location.pathname}, function(response) {
      if(response === "OK") {
      window.location.href=window.location.href.substr(0,window.location.href.lastIndexOf("/"));	 
      }
      }
      );

      });
