body {
 /* padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font: 13px "Helvetica Neue", "Lucida Grande", "Arial";
/*  background: #ECE9E9 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ECE9E9));
  background: #ECE9E9 -moz-linear-gradient(top, #fff, #ECE9E9);
  background-repeat: no-repeat;
*/
/*  background: #ece9e9;*/
  color: #555;
  -webkit-font-smoothing: antialiased;
/*width: 80ex;*/
}

a, #edit, #cancel, #add, #ok {
  color: #00B7FF;
  text-decoration: none;
}

#edit:hover, #cancel:hover, #add:hover, #ok:hover {
    cursor: pointer;
}

#markItUp {
    height: 40em;
    width: 35em;
}

img {
width: 300px;
}